<ng-container *ngIf="gamesMonthData$ | async as gamesMonthData; else loading">
  <section>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Mega Drive Path</mat-card-title>
        <mat-card-subtitle>{{ todayFormattedDate }}</mat-card-subtitle> </mat-card-header
      ><mat-card-content>
        <p>Below the Mega Drive Path Top 10 Games for {{ todayFormattedDate }}</p>
        <mat-list role="list">
          <mat-list-item *ngFor="let game of gamesMonthData.top; index as i" role="listitem">
            <mat-icon svgIcon="numeric-{{ i + 1 }}-circle" mat-list-icon></mat-icon>
            <mat-icon
              [color]="game.status === 'n' ? 'primary' : 'accent'"
              *ngIf="game.status && (game.status === 'n' || game.status === 'r')"
              svgIcon="alpha-{{ game.status }}-box"
              mat-list-icon
            ></mat-icon>
            <mat-icon
              *ngIf="game.status && game.status !== 'n' && game.status !== 'r'"
              svgIcon="numeric-{{ game.status }}"
              mat-list-icon
            ></mat-icon>
            <h3 matLine fxLayout="row" fxLayoutGap="8px">
              <span>{{ game.title }}</span>

              <a mat-icon-button aria-label="Example icon button with a home icon" [href]="game.link" target="_blank">
                <mat-icon color="accent">open_in_new</mat-icon>
              </a>
            </h3>
            <p matLine fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
              <span>{{ game.score | number }}</span
              ><span class="original-score">({{ game.originalScore | number }})</span>
            </p></mat-list-item
          >
        </mat-list>
      </mat-card-content>
    </mat-card>
  </section>

  <section *ngIf="gamesMonthData.oldTop?.length">
    <mat-card>
      <mat-card-content>
        <p>Games leaving the Top this month</p>
        <mat-list role="list" *ngIf="gamesMonthData?.exclusions?.length; else emptyList">
          <mat-list-item *ngFor="let game of gamesMonthData.exclusions; index as i" role="listitem">
            <mat-icon color="warn" svgIcon="logout-variant" mat-list-icon></mat-icon>
            <h3 matLine fxLayout="row" fxLayoutGap="8px">
              <span>{{ game.title }}</span>

              <a mat-icon-button aria-label="Example icon button with a home icon" [href]="game.link" target="_blank">
                <mat-icon color="accent">open_in_new</mat-icon>
              </a>
            </h3>
            <p matLine fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
              <span>{{ game.score | number }}</span
              ><span class="original-score">({{ game.originalScore | number }})</span>
            </p></mat-list-item
          >
        </mat-list>
      </mat-card-content>
    </mat-card>
  </section>

  <section *ngIf="gamesMonthData.oldTop?.length">
    <mat-card>
      <mat-card-content>
        <p>Leyend</p>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <div matLine fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
            <span>71.34</span><span class="original-score">(74.34)</span>
          </div>
          <mat-icon color="accent">arrow_right_alt</mat-icon>
          <div matLine fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
            <i>score_including_wear</i><i class="original-score">(original_score)</i>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <mat-icon svgIcon="numeric-3-circle" mat-list-icon></mat-icon>
          <span>Position in the list</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <mat-icon color="primary" svgIcon="alpha-n-box" mat-list-icon></mat-icon>
          <span>New to the list </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <mat-icon color="accent" svgIcon="alpha-r-box" mat-list-icon></mat-icon>
          <span>Repeating position in the list</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <mat-icon svgIcon="numeric-9" mat-list-icon></mat-icon>
          <span>Position on last month's list</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <mat-icon color="warn" svgIcon="logout-variant" mat-list-icon></mat-icon>
          <span>Leaving the list</span>
        </div>
      </mat-card-content>
    </mat-card>
  </section>

  <section *ngIf="gamesMonthData?.topListHistory">
    <mat-card>
      <mat-card-content>
        <p>Games that have been listed in the top</p>
        <mat-list role="list">
          <mat-list-item *ngFor="let game of gamesMonthData.topListHistory; index as i" role="listitem">
            <h3 matLine fxLayout="row" fxLayoutGap="8px">
              <span>{{ game.title }}</span>

              <a mat-icon-button aria-label="Example icon button with a home icon" [href]="game.link" target="_blank">
                <mat-icon color="accent">open_in_new</mat-icon>
              </a>
            </h3>
            <p matLine fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
              <span>{{ game.score | number }}</span
              ><span class="original-score">({{ game.originalScore | number }})</span>
            </p></mat-list-item
          >
        </mat-list>
      </mat-card-content>
    </mat-card>
  </section>
</ng-container>

<ng-template #loading>
  <div class="spinner-wrapper">
    <mat-spinner [diameter]="50" color="warn"></mat-spinner>
  </div>
</ng-template>
<ng-template #emptyList>
  <div>
    Empty list
  </div>
</ng-template>
