$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$blue-grey-palette: (
  50: #eceff1,
  100: #cfd8dc,
  200: #b0bec5,
  300: #90a4ae,
  400: #78909c,
  500: #607d8b,
  600: #546e7a,
  700: #455a64,
  800: #37474f,
  900: #263238,
  A100: #cfd8dc,
  A200: #b0bec5,
  A400: #78909c,
  A700: #455a64,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$md-greenblue: (
  50: #e4ecf5,
  100: #bbd0e6,
  200: #8eb0d6,
  300: #6090c5,
  400: #3e79b8,
  500: #1c61ac,
  600: #1959a5,
  700: #144f9b,
  800: #114592,
  900: #093382,
  A100: #b2c8ff,
  A200: #7fa4ff,
  A400: #4c80ff,
  A700: #326eff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-redsonic: (
  50: #ffe0e0,
  100: #ffb3b3,
  200: #ff8080,
  300: #ff4d4d,
  400: #ff2626,
  500: #ff0000,
  600: #ff0000,
  700: #ff0000,
  800: #ff0000,
  900: #ff0000,
  A100: #ffffff,
  A200: #fff2f2,
  A400: #ffbfbf,
  A700: #ffa6a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
