@use "@angular/material" as mat;
@use "palette";

@include mat.core();

$mdpath-primary: mat.define-palette(palette.$md-greenblue, 500);
$mdpath-accent: mat.define-palette(palette.$blue-grey-palette, A200, A100, A400);
$mdpath-warn: mat.define-palette(palette.$md-redsonic);

$mdpath-typography: mat.define-typography-config(
  // Specify "Comic Sans" as the default font family for all levels.
  $font-family: "Courier Prime"
);

$mdpath-theme: mat.define-light-theme(
  (
    color: (
      primary: $mdpath-primary,
      accent: $mdpath-accent,
      warn: $mdpath-warn,
    ),
    typography: $mdpath-typography,
  )
);

@include mat.core($mdpath-typography);
@include mat.all-component-themes($mdpath-theme);
